n8n_workflows/cv_indexer.json
{
  "name": "cv_indexer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a710c1fe-a4e0-4be7-8c53-b3094ddf8450",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Users/saona/.n8n-files/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "c980d4e6-1df5-4849-ab87-6f68882448f0",
      "name": "Read CVs"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "cc6bc2f2-3725-461b-b78b-17a87f481bf6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "cv_documents",
          "mode": "list",
          "cachedResultName": "cv_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "e72a460b-552d-4af5-875f-77a8620a05bd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "7Rs85pEPISMcNpjl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        208
      ],
      "id": "2bf34a44-ebea-4dae-92f4-b3326ecb0d87",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hoegSCVOPIF418TL",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $('Read CVs').item.json.fileName }}"
              },
              {
                "name": "email",
                "value": "={{ $json.text.match(/[\\w.-]+@[\\w.-]+\\.\\w+/)?.[0] \n\n '' }}"
              },
              {
                "name": "phone",
                "value": "={{ $json.text.match(/[\\+\\d][\\d\\s\\-]{7,}/)?.[0] \n\n '' }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "146b3b04-25cd-4d3f-a695-f267e91e7f62",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CVs": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "016444d5-ee3b-4756-828c-993ab73f06ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd133f0ddc1d8a1cb2fd049ab73286289e28ebc87f93d33f5b49e5d66317b98"
  },
  "id": "zjnQQxwD3K8d9xDf",
  "tags": []
}